<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SrcHost" value="195.206.252.247"/>
    <add key="SrcPort" value="10182"/>
    <add key="DstHost" value="77.74.50.78"/>
    <add key="DstPort" value="20141"/>
    <add key="LogPath" value="Retranslator2Log"/>
    <add key="UseFeedBack" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
