<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TcpServer.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TcpServer.Core.Properties.Settings>
            <setting name="TcpServer_Core_TelemetryService_TelemetryService"
                serializeAs="String">
                <value>http://ods.mos.ru:80/telemetry/telemetryWebService</value>
            </setting>
        </TcpServer.Core.Properties.Settings>
    </applicationSettings>
</configuration>