<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SrcHost" value="195.206.252.247" />
    <add key="SrcPort" value="20146" />   
    <add key="LogPath" value="WialonListnerLog" />    
  </appSettings>
  <connectionStrings>
    <add name="Connection" connectionString="data source=195.206.252.247;initial catalog=OnlineMonitoringTcp;persist security info=True;user id=OnlineMonitoringTcp;password=OnlineMonitoringTcp;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>