<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SrcHost" value="195.206.252.247" />
    <add key="SrcPort" value="20147" />
    <add key="DstHost" value="89.108.72.236" />
    <add key="DstPort" value="5050" />
    <add key="LogPath" value="RetranslatorWialonLog" />    
  </appSettings>
</configuration>